.header{
	display:flex;
	justify-content: space-around;
	background-color: #2b4585;
	color: #f0ebb2;
	padding: 15px;
}
.vertical-space1{
	padding-bottom: 15px;
	background-color: #FFE5B5;
}
.vertical-space2{
	padding-bottom: 150px;
	background-color: #FFE5B5;
}
.space{
	padding: 15px;
}
.wrapper{
	background-color: #FFE5B5;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container{
	display: flex;
	max-width: 960px;
	margin: 0 auto;
}
.image{
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
}
.caption{
	background-color:  #FFC3B8;
	border-style: dotted;
	padding: 15px;
}
.one{
	display: flex;
	flex-direction: column;
	column-width: 100px;
	padding: 3%;
	flex: 33.33%;
	align-items: center;
	width: 700px;
}
.two{
	padding: 3%;
	flex: 66.66%;
	background-color: #FFC3B8;
	border-style: dotted;
}

.job-title{
	font-family: 'Comfortaa';
}
.job-description{
	font-family: 'Coda';
}

@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
  }
  .one {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .one img {
    margin-bottom: 15px;
  }
}